.browse__main {
  margin-top: 8rem;
}

.browse-make-plan__btn {
  color: var(--color-primary-variant);
  border-color: var(--color-primary);
  background-color: var(--color-primary);
  box-shadow: 0 3px 10px rgb(0,0,0,0.2);
  transition: all 0.3s ease-in;
}

.browse-make-plan__btn:hover {
  color: var(--color-primary) !important;
  border-color: var(--color-primary-variant) !important;
  background-color: var(--color-primary-variant) !important;
}

@keyframes changeGradient {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}

.browse__title {
  font-size: 5rem;
  background: linear-gradient(to right top, var(--color-primary), var(--color-primary-variant));
  color: transparent;
  -webkit-background-clip: text;
  background-size: 200% 100%;
  animation: changeGradient 5s linear infinite;
}
