.login__main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login__form {
  margin-top: 8rem;
  width: 40%;
}

.login__inputs {
  margin: 0;
}

.login-submit__btn {
  width: 100%;
  color: var(--color-primary);
  background-color: var(--color-primary-variant);
  padding: 1.1rem 1rem;
  margin: 1rem 0;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.2rem;
  transition: all 0.3s ease-in;
}

.login-submit__btn:hover {
  background-color: var(--color-primary);
  color: var(--color-primary-variant);
}

.signup__btn {
  display: block;
  text-align: center;
  width: 100%;
  color: var(--color-primary);
  background-color: var(--color-primary-variant);
  padding: 1.1rem 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.2rem;
  transition: all 0.3s ease-in;
}

.signup__btn:hover {
  background-color:var(--color-primary);
  color: var(--color-primary-variant);
}

.social_login_btns {
  width: 40%;
  align-items: center;
}

.find-info__links {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1rem;
}