{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <title>{% block title %}기본title{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="#"/>
        <meta name="author" content="Day&#39;PL"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
        <link rel="shortcut icon" href="#" type="image/x-icon">
        <meta property="og:title" content="Day&#39;PL"/>
        <meta property="og:type" content="website"/>
        <!-- <meta property="og:url" content="배포후 생성된 URL"> -->
        <!-- TODO: URL 주소 기입 -->
        <!-- <meta property="og:image" content="배포후 생성된 이미지 URL"> -->
        <!-- TODO: 이미지 URL 주소 기입 -->
        <script src="https://kit.fontawesome.com/76dd16220c.js" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <style type="text/css">
            /* 검색창과 지도의 순서(게층) 정하기 */
            .search { position:absolute;z-index:1000;top:20px;left:20px; }
            .search #address { width:150px;height:20px;line-height:20px;border:solid 1px #555;padding:5px;font-size:12px;box-sizing:content-box; }
            .search #submit { height:30px;line-height:30px;padding:0 10px;font-size:12px;border:solid 1px #555;border-radius:3px;cursor:pointer;box-sizing:content-box; }
        </style>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link href="https://unpkg.com/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />
    </head>
    
    <body class="d-flex flex-column">
        <div id="content-wrapper">
            <header style="height: 8rem;">
                <div style="height: 3rem;">
                    {% if user.is_authenticated %}
                        {% include 'components/after_login.html' %}
                    {% else %}
                        {% include 'components/before_login.html' %}
                    {% endif %}
                </div>
                <div style="height: 5rem;">
                    {% include 'components/navigation.html' %}
                </div>
            </header>
            <div class="contents__box">
                {% block contents %}
                    기본 컨텐츠
                {% endblock %}
            </div>
        </div>
        <!-- <footer>
            {% include 'components/footer.html' %}
        </footer>  -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>