{% extends 'layout.html' %}
{% load static %}

{% block title %}새로운 플랜{% endblock %}

{% block contents %}
{% csrf_token %}
	<main class="new-plan__main d-flex justify-content-between">
		<div id="div1"  class="new-plan-plan__container">
			{% include 'components/plan_container.html' %}
		</div>
		<div id="div2"  class="new-plan-places__container">
			{% include 'components/search_place_container.html' %}
		</div>
		<div id="div3">
			{% include 'components/naver_map_container.html' %}
		</div>
		<div id="div4" style="display: none;">
			{% include 'components/search_place_click_info_container.html' %}
		</div>
	</main>
	{% include 'components/new_plan_modal.html' %}
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=bl1rchjvv7&submodules=geocoder"></script>
<script src="https://unpkg.com/@yaireo/tagify"></script>
<script src="https://unpkg.com/@yaireo/tagify/dist/tagify.polyfills.min.js"></script>
<script src="{% static '/javascript/like_button.js' %}" ></script>
<script src="{% static '/javascript/get_filtered_places.js' %}"></script>
<script src="{% static '/javascript/plan_container.js' %}"></script>
{% endblock %}