{% extends 'components/layout.html' %}
{% load static %}
{% block title %}새로운 플랜{% endblock %}

{% block contents %}
	<div class="d-flex">
		<div id="div1">
			{% include 'components/plan_container.html' %}
		</div>
		<div id="div2">
			{% include 'components/search_place_container.html' %}
		</div>
		<div id="div3">
			{% include 'components/naver_map_container.html' %}
		</div>
		<div id="div4" style="display: none;">
			{% include 'components/search_place_click_info_container.html' %}
		</div>
	</div>
{% endblock %}

{% block scripts %}
	<script src="{% static 'javascript/get_filtered_places.js' %}"></script>
{% endblock %}