{% extends 'layout.html' %}
{% load static %}
{% block title %}인기 플랜{% endblock %}
{% block contents %}
<main class="populars__main">
  {% csrf_token %}
    <section class="popular-plans-list__container">
      <div class="popular-plans-serch__box">
        <span class="search__icon">
          <i class="fa-solid fa-magnifying-glass"></i>
        </span>
        <input type="text" class="popular-plans-search__input">
        <button class="search-clear__btn">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>
      <ul class="popular-plans__list">
      </ul>
    </section>
    <section class="popular-plan-detail__container">
      <div class="popular-plan-detail__box">
      </div>
      <ul class="popular-plan-place__list">
      </ul>
    </section>
    <section class="map">
      <h1>지도</h1>
    </section>
</main>
{% include 'components/share_modal.html' %}
{% endblock %}

{% block scripts %}
	<script type="module" src="{% static '/javascript/populars.js' %}"></script>
{% endblock %}
