{% extends 'layout.html' %}
{% load static %}

{% block title %}선호도 조사{% endblock %}

{% block contents %}
	<div class="d-flex justify-content-center">
		<h1>선호도 조사</h1>
	</div>
	<form method="post" action="{% url 'Day_Pl:preferences' %}">
		{% csrf_token %}
		<!-- TODO python에서 자동화 처리 해줘서 넘기기 -->
		{% for typecode, typename in code_alphabets.items %}
			<label>{{ typename }}</label>
			<div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
				{% for preference_item in preference_choices %}
					{% if typecode in preference_item.code %}
						{% if preference_item.id in user_preference_ids %}
							<input type="checkbox" class="btn-check" name="{{ preference_item.code }}" id="{{ preference_item.code }}" autocomplete="off" checked>
						{% else %}
							<input type="checkbox" class="btn-check" name="{{ preference_item.code }}" id="{{ preference_item.code }}" autocomplete="off">
						{% endif %}
						<label class="btn btn-outline-primary" for="{{ preference_item.code }}">{{ preference_item.name }}</label>
					{% endif %}
				{% endfor %}
			</div>
			<br><br>
		{% endfor %}

		<input type="submit">
	</form>
{% endblock %}