{% extends 'layout.html' %}
{% load static %}

{% block title %}나의 기록{% endblock %}

{% block contents %}
    <main>
        <div class="d-flex justify-content-between" style="height:40rem;">
            <div style="width: 30rem;">
                {% include 'components/save_plan_container.html' %}
            </div>

            <div style="width: 25rem;">
                {% include 'components/save_plan_place_container.html' %}
            </div>
            
            <div style="width: 30rem;"> 
                {% include 'components/naver_map_container.html' %}
            </div>
        </div>
    </main>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=bl1rchjvv7&submodules=geocoder"></script>
    <script src="{% static 'javascript/save.js' %}"></script>
{% endblock %}
