{% extends 'layout.html' %}
{% load static %}

{% block title %}나의 기록{% endblock %}

{% block contents %}
    <div class="d-flex">
        <div style="width: 20rem;">
            {% include 'components/save_plan_container.html' %}
        </div>
        <div class="p-2 flex-fill" style="width: 20rem;">
            {% include 'components/save_plan_place_container.html' %}
        </div>
        <div class="p-2 flex-fill"> 
            {% include 'components/naver_map_container.html' %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=bl1rchjvv7&submodules=geocoder"></script>
    <script src="{% static 'javascript/save.js' %}"></script>
{% endblock %}
