{% load static %}
<div class="d-flex justify-content-end">
	<!--! 확인 필요! -->
	<img class="mt-3" height="30px" width="30px" src="{% static 'IMG/profile_img.png' %}" alt="유저 프로필 IMG">
	<nav class="navbar navbar-expand-lg bg-body-tertiary">
		<div class="container-fluid">
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							{{ user.profile.nickname }}
						</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="{% url 'Day_Pl:modify_profile' %}">계정 관리</a></li>
							<li><a class="dropdown-item" href="{% url 'Day_Pl:preferences' %}">선호도 관리</a></li>
							<li><hr class="dropdown-divider"></li>
							<li><a class="dropdown-item" href="{% url 'common:logout' %}">로그아웃하기</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<a class="mt-3" href="{% url 'common:logout' %}">로그아웃하기</a>
</div>