<section class="plan-container__section">
  <div class="plan-submit__box">
    {% csrf_token %}
    <button class="heart__btn"><i class="fa-regular fa-heart"></i></button>
    <input class="plan-title" type="text" name="plan_title" placeholder="{{ current_date }}의 플랜">
    <button type="button" class="plan-submit__btn btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      저장
    </button>
  </div>
  <ul class="selected-place__container">
    <li class="place__box" draggable="true">
      <div class="place__item">
        <span class="place__name">장소를 선택해주세요.</span>
        <button class="plan-blank__btn" data-blank="" data-state="filled">비워두기</button>
      </div>
    </li>
    <li class="place__box" draggable="true">
      <div class="place__item">
        <span class="place__name">장소를 선택해주세요.</span>
        <button class="plan-blank__btn" data-blank="" data-state="filled">비워두기</button>
      </div>
    </li>
    <li class="place__box" draggable="true">
      <div class="place__item">
        <span class="place__name">장소를 선택해주세요.</span>
        <button class="plan-blank__btn" data-blank="" data-state="filled">비워두기</button>
      </div>
    </li>
    <li class="place__box" draggable="true">
      <div class="place__item">
        <span class="place__name">장소를 선택해주세요.</span>
        <button class="plan-blank__btn" data-blank="" data-state="filled">비워두기</button>
      </div>
    </li>
  </ul>
</section>
