{% load static %}
<!-- 플랜만들기에서 장소 클릭시 뜨는 장소의 세부 정보 창 -->
<div class="new-plan-place-detail__box">
    <!-- 댓글 기능!! -->
    {% for place in places %}
        <div id="detail_{{ place.id }}" style="display:none;">
            <h1 class="place__name mb-3 fs-3 fst-italic">{{ place.name }}</h1>
            <form>
                <div class="form-floating">
                    <textarea class="comment-content-{{ place.id }} form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                    <label for="floatingTextarea2">Comments</label>
                </div>
                <button type="submit" class="comment-submit__btn btn btn-primary" data-commentplaceid="{{ place.id }}">Submit</button>
            </form>
            <ul class="place-comments__list place-comments-{{ place.id }}"></ul>
            <button class="close-detail"><i class="fa-solid fa-xmark"></i></button>
        </div>
    {% endfor %}
</div>