<!-- 장소들을 검색하고 장소_box들이 포함되어 있는 곳 -->
<div>

	<select name="search_place_filter" id="search_place_filter" class="search_place_filter">
		<option value="0" selected>전체</option>
		{% for placetype in placetypes %}
			<option value="{{ placetype.id }}">{{ placetype.name }}</option>
		{% endfor %}
	</select>

	<div class="place_container" style="overflow:scroll; height: 500px; width:300px">
		{% for place in places %}
			<div class="card" style="height:90px; width: 18rem;">
				<div class="card-body">
					<h6 class="card-title">
						<span id="placeName"><font size=2>{{ place.name }}</font></span>
						&nbsp;
						<a href="https://map.naver.com/v5/search/{{ place.address_gu }} {{ place.address_lo }} {{ place.name }}/place" target="_blank">
							<font size=1>네이버플레이스</font>
						</a>
						&nbsp;
						<a href="https://map.naver.com/v5/directions/-/14129228.684381623,4517601.068035996,{{ place.address_gu }} {{ place.address_lo }} {{ place.name }},1151030658,PLACE_POI/-/transit?c=15,0,0,0,dh&isCorrectAnswer=true" target="_blank">
							<font size=1>길찾기</font>
						</a>
					</h6>   
					<font size=1>
						<p class="card-text">
							별점: {{ place.rating }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;리뷰수: {{ place.review_total }}
						</p>
					</font>
					<font size=1>
						<p class="card-text">
							{{ place.address_gu }} {{ place.address_lo }} {{ place.address_detail }}
						</p>
					</font>
				</div>
			</div>
		{% endfor %}
	</div>

</div>