<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">공유하기</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ul class="share__container">
          <li class="share-facebook"><button><i class="fa-brands fa-facebook"></i></button></li>
          <li class="share-twitter"><button><i class="fa-brands fa-x-twitter"></i></button></li>
          <li class="share-kakao"><button><i class="fa-solid fa-comment"></i></button></li>
          <li class="share-urlcopy"><button class="share-urlcopy__btn"><i class="fa-regular fa-paste"></button></i></li>
        </ul>
      </div>
    </div>
  </div>
</div>