{% extends 'layout.html' %}
{% load static %}

{% block title %}로그인{% endblock %}

{% block contents %}
	<main class="login__main">
		<form class="login__form" action="#" method="post">
			{% csrf_token %}
			<div class="login__inputs">
				<div class="form-floating mb-3">
					<input type="id" name="username" class="form-control" id="username" placeholder="아이디를 입력하세요">
					<label for="floatingInput">Id</label>
				</div>
				<div class="form-floating">
					<input type="password" name="password" class="form-control" id="password" placeholder="비밀번호를 입력하세요">
					<label for="floatingPassword">Password</label>
				</div>
			</div>
			<div>
				<button class="login-submit__btn" type="submit">로그인하기</button>
			</div>
			<div>
				<a href="{% url 'common:signup' %}" class="signup__btn">회원가입하기</a>
			</div>
		</form>

		<div class="social_login_btns d-flex flex-column">
			<img class="social_login_img" src="{% static 'IMG/google_login_button.png' %}" alt="">
			<img class="social_login_img" src="{% static 'IMG/kakao_login_button.png' %}"  alt="">
			<img class="social_login_img" src="{% static 'IMG/naver_login_button.png' %}"  alt="">
		</div>
	</main>
{% endblock %}