{% extends 'layout.html' %}
{% load static %}

{% block title %}로그인{% endblock %}

{% block contents %}
	<form method="post" action="{% url 'common:login' %}">
		{% csrf_token %}
		{% if form.errors %}

			{% for field in form %}
				{% for error in field.errors %}
					<!-- 필드 오류를 출력한다. -->
					<div>
						<strong>{{ field.label }}</strong>
						{{ error }}
					</div>
				{% endfor %}
			{% endfor %}
			
			{% for error in form.non_field_errors %}
				<!-- 넌필드 오류를 출력한다. -->
				<div>
					<strong>{{ error }}</strong>
				</div>
			{% endfor %}

		{% endif %}
		<div class="form-floating mb-3">
			<input type="id" name="username" class="form-control" id="username" placeholder="아이디를 입력하세요">
			<label for="floatingInput">Id</label>
		</div>
		<div class="form-floating">
			<input type="password" name="password" class="form-control" id="password" placeholder="비밀번호를 입력하세요">
			<label for="floatingPassword">Password</label>
		</div>
		<div>
			<input type="submit">
		</div>
	</form>

    <div class="d-flex flex-column">
			<img class="social_login_img" src="{% static 'IMG/google_login_button.png' %}" alt="">
			<img class="social_login_img" src="{% static 'IMG/kakao_login_button.png' %}"  alt="">
			<img class="social_login_img" src="{% static 'IMG/naver_login_button.png' %}"  alt="">
    </div>
{% endblock %}

{% block scripts %}
	<script>

	</script>
{% endblock %}