{% extends 'components/layout.html' %}

{% block title %}로그인{% endblock %}

{% block contents %}
	<form action="#" method="post">
		<div class="form-floating mb-3">
			<input type="id" name="id" class="form-control" id="floatingInput" placeholder="아이디를 입력하세요">
			<label for="floatingInput">Id</label>
		</div>
		<div class="form-floating">
			<input type="password" name="pwd" class="form-control" id="floatingPassword" placeholder="비밀번호를 입력하세요">
			<label for="floatingPassword">Password</label>
		</div>
		<div>
			<input type="submit">
		</div>
	</form>

    <div class="d-flex flex-column">
			<img class="social_login_img" src="{{ url_for('static', filename='IMG/google_login_button.png') }}" alt="">
			<img class="social_login_img" src="{{ url_for('static', filename='IMG/kakao_login_button.png') }}"  alt="">
			<img class="social_login_img" src="{{ url_for('static', filename='IMG/naver_login_button.png') }}"  alt="">
    </div>
{% endblock %}